@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 276 91% 22%;
    --primary-foreground: 210 40% 98%;

    --secondary: 121 39% 49%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 206 3% 41%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 276 91% 22%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 121 39% 49%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 206 3% 41%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.green-bar {
  position: relative;
}

.clipper {
  clip-path: circle(180vh at 50% -90vh);
  /* transform: scaleX(1.1); */
  /* scale: 1.5; */
  box-shadow: 5px 10px 8px 2px; /* 5px right, 10px down, 8px blur, 2px spread */
}

.radiall {
  background: radial-gradient(
      86% 86% at 56.3% 14%,
      rgba(0, 0, 0, 0) 9.85%,
      rgba(39, 0, 65, 0.24) 48.27%,
      rgba(39, 0, 65, 0.763006) 73.06%,
      rgba(39, 0, 65, 0.8) 82.72%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

@keyframes moveOutInHalf {
  0% {
    transform: translateX(20rem) translateY(0rem);
  }

  20% {
    transform: translateX(-10rem) translateY(4rem);
  }
  40% {
    transform: translateX(10rem) translateY(6rem) rotate(-20deg);
  }
  60% {
    transform: translateX(-10rem) translateY(8rem);
  }
  100% {
    transform: translateX(20rem) translateY(10rem) rotate(-20deg);
  }
}
@keyframes milanAnimation {
  0% {
    transform: translateX(0rem) translateY(0rem);
  }
  10% {
    /* left */
    transform: translateX(-5rem) translateY(6rem);
  }
  20% {
    /* right */
    transform: translateX(6rem) translateY(8rem) rotate(-30deg);
  }
  30% {
    /* left */
    transform: translateX(-6rem) translateY(14rem) rotate(20deg);
  }

  40% {
    /* right */
    transform: translateX(6rem) translateY(20rem) rotate(-30deg);
  }
  50% {
    /* left */
    transform: translateX(-6rem) translateY(25rem) rotate(20deg);
  }
  60% {
    /* right */
    transform: translateX(6rem) translateY(29rem) rotate(-30deg);
  }
  70% {
    /* left */
    transform: translateX(-6rem) translateY(34rem) rotate(20deg);
  }
  80% {
    /* right */
    transform: translateX(6rem) translateY(38rem) rotate(-30deg);
  }
  90% {
    /* left */
    transform: translateX(-6rem) translateY(42rem) rotate(20deg);
  }
  100% {
    transform: translateX(-0rem) translateY(48.5rem) rotate(4deg);
  }
}

.animate-moveOutInHalf {
  animation: moveOutInHalf 6s ease-in-out infinite;
}

.clippers {
  clip-path: circle(175vh at 50% -90vh);
  box-shadow: 5px 10px 8px 2px;
}
.animate-sevenStep {
  animation: milanAnimation 8s ease-in-out forwards;
}

.myBlob {
  /* border-radius: 60% 40% 30% 70% / 70% 30% 70% 40%; */

  animation: blobAnimate 4s ease-in-out infinite;
  /* transition: all 8s ease-in-out; */
}

@keyframes blobAnimate {
  0%,
  100% {
    border-radius: 60% 40% 80% 70% / 70% 30% 70% 40%;
  }
  25% {
    border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 10% 70%;
  }
  75% {
    border-radius: 40% 70% 60% 50% / 20% 50% 40% 80%;
  }
}
